h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, "Lucida Grande", Verdana, "Microsoft YaHei", hei;
}

.uu_body input[type="text"],
.uu_body input[type="search"],
.uu_body input[type="number"],
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
.uu_body textarea {
  -ms-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.wireless_failure .no_wifi:before,
.fee_txt h3:after,
.banner_box .img_wrap .pic_loading:after,
.banner_box .pic_fail:after,
.banner_box .pic_none:after,
.visa_list li a:after,
.man_box:before,
.child_box:before,
.icon_date,
.box_hidden h4:after,
.plan_list:before,
.train_list:before,
.ship_list:before,
.bus_list:before,
.arrows_icon:after,
.btn_cur:before,
.base_list .take_site dt i.cur:after,
.item_select li.cur:after,
.passenger_tips:after,
.passenger_select .passenger_datail.cur i:after,
.passenger_select .edit_icon:after,
.coupon_list .cur i:after,
.finsh_title:before,
.hotel_icon:before,
.hotel_address:before,
.wifi_icon,
.park_icon,
.date_ico:before,
.room_area:before,
.room_peo:before,
.room_balance:before,
.room_floor:before,
.room_bed:before,
.room_smok:before,
.room_web:before,
.book_limit:after,
.book_intro:after,
.htl_list:before,
.htl_list .address:before,
.htl_list .tel_num:before,
.add_icon:after,
.more_text a:after,
.query_myorder li:after,
.child_box .child_notice:before,
.loading_ico,
.hotel_list li:before,
.sort_item:after,
.list_filter_item dd:after,
.list_filter_checkbox p i:after,
.no_collection_notice:before,
.v_guest .edit_icon:after,
.v_passenger_tips:after,
.list_filter_radio .checkbox_ico:after,
.detail_features:after,
.price_box .discount,
.time_icon_01::before,
.time_icon_07::before,
.time_icon_14::before,
.leader_detail .leader_score i,
.score_giving i.mobile::before,
.my_consult h3::before,
.score_fliter li.current::after,
.detail_characteristic dd:after,
.detail_mod_leader .leader_score i,
.detail_favorable:after,
.detail_characteristic:after,
.detail_more_down .more_back,
.pop_close,
.hotel_hint_close {
  background-image: url(https://pic.c-ctrip.com/h5/group_travel/un_detail.png?20160422.png);
  background-repeat: no-repeat;
  background-size: 104px auto;
}

.border_top_1px:before,
.border_bottom_1px:after,
.detail_characteristic:before,
.detail_mod_box:before,
.detail_mod_box:after,
.detail_product_intro:after,
.detail_slide_tab:before,
.detail_slide_tab:after,
.detail_mod_more .more_list li:before,
.characteristic_info .characteristic_list li:after,
.detail_pop .pop_list li:after,
.more_info:before,
.more_info li:after,
.detail_dr_share:after,
.daren_pop li:after,
.daren_share_pop dd:after,
.detail_favorable:before,
.detail_mod_feature .detail_feature_down:before,
.detail_mod_feature .detail_feature_up:before,
.detail_recommend_list li:before,
.detail_mod_recommend .detail_recommend_keyword:before,
.detail_hotel_info:after,
.detail_hotel_info:before,
.comment_item:before,
.comment_item:after,
.order_details:after,
.order_review_frm_list:before,
.order_review_frm_list:after,
.order_review_item:before,
.order_review_item:after,
.order_review_frm_list li.order_tour_feel:before,
.order_review_list:before,
.order_review_list li:after,
.detail_comment_list:before,
.detail_header_top:after,
.detail_header_scroll:after,
.schedule_hd:nth-child(3):before,
.booking_notice_detail li:before,
.booking_notice_detail li:after,
.detail_hotel_list li:before,
.detail_product_summary li:after,
.detail_safeguard:before,
.order_review_mod:before,
.order_review_mod:after,
.detail_ticket:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #e2e2e2;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 top;
  -ms-transform-origin: 0 top;
  transform-origin: 0 top;
}

.border_bottom_1px:after,
.detail_mod_box:after,
.detail_product_intro:after,
.detail_slide_tab:after,
.route_arrange .route_arrange_title:after,
.detail_pop .pop_list li:after,
.more_info li:after,
.detail_hotel_info:after,
.comment_item:after,
.order_details:after,
.order_review_frm_list:after,
.order_review_item:after,
.order_review_list li:after,
.detail_header_top:after,
.detail_header_scroll:after,
.booking_notice_detail li:after,
.detail_hotel_list li:before,
.order_review_mod:after {
  top: auto;
  bottom: 0;
  -webkit-transform-origin: 0 bottom;
  -ms-transform-origin: 0 bottom;
  transform-origin: 0 bottom;
}

.detail_mod_box {
  margin-bottom: 10px;
  padding: 4px 0 0 15px;
  background: #fff;
  position: relative;
}

.detail_mod_box .mod_hd {
  font-size: 16px;
  font-weight: normal;
  line-height: 40px;
  padding-right: 15px;
  position: relative;
  overflow: hidden;
}

.detail_mod_box .mod_bd {
  padding: 0 15px 12px 0;
  position: relative;
}

.route_arrange_hd {
  margin: 10px;
  text-align: center;
  color: #666;
  position: relative;
}

.route_arrange_hd span {
  position: relative;
  z-index: 1;
  padding: 0 14px;
  background: #f5f5f5;
}

.route_arrange_hd:before {
  content: "";
  height: 1px;
  background: #d4d4d4;
  position: absolute;
  width: 100%;
  top: 49%;
  left: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.route_arrange_col {
  margin: 10px;
  padding-left: 10px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px #ccc;
}

.route_arrange {
  position: relative;
}

.route_arrange .route_arrange_title {
  padding: 15px 0;
  font-size: 16px;
}

.route_arrange .route_arrange_title:after {
  content: ".";
  display: block;
  height: 1px;
  clear: both;
  visibility: hidden;
}

.route_arrange .route_arrange_title strong {
  margin: 0 5px 0 -16px;
  padding: 0 8px 0 16px;
  float: left;
  font-weight: normal;
  line-height: 24px;
  background: #67c0fb;
  color: #fff;
  position: relative;
}

.route_arrange .route_arrange_title strong:after {
  content: "";
  width: 0;
  height: 0;
  border: 3px solid #067cb1;
  border-left-color: transparent;
  border-bottom-color: transparent;
  left: 0;
  bottom: -6px;
  position: absolute;
}

.route_arrange .route_arrange_title span {
  display: block;
  overflow: hidden;
  color: #333;
  font-weight: normal;
  line-height: 24px;
}

.route_arrange_list {
  padding-left: 25px;
  margin-top: -1px;
  overflow: hidden;
}

.route_arrange_list li {
  position: relative;
  margin: 0 15px 15px 0;
}

.route_arrange_list li:first-child:after {
  display: none;
}

.time_icon_01::before,
.time_icon_07::before,
.time_icon_14::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  background-color: #fff;
  left: -24px;
  top: 4px;
}

.time_icon_01::before {
  background-position: 0 -555px;
}

.time_icon_07::before {
  background-position: -90px -555px;
}

.route_arrange_list p {
  overflow: hidden;
}

.route_arrange_list p img {
  width: 115px;
  height: 64px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.detail_product_summary {
  margin: 10px;
  padding: 0 15px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px #ccc;
}

.detail_product_summary li {
  position: relative;
  padding: 11px 0;
  line-height: 16px;
}

.profile_info {
  padding: 14px 15px;
  background-color: #fff;
  position: relative;
}

.profile_info::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #e2e2e2;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 top;
  -ms-transform-origin: 0 top;
  transform-origin: 0 top;
}

.profile_info:first-of-type::before {
  display: none;
}

.profile_info dd {
  display: table-cell;
  vertical-align: middle;
}

.profile_info .pm_list li {
  font-size: 14px;
  padding-left: 14px;
  position: relative;
  margin-top: 6px;
}

.profile_info .pm_list li:before {
  content: "";
  height: 3px;
  width: 3px;
  background-color: #333;
  position: absolute;
  left: 6px;
  top: 8px;
  border-radius: 50%;
}